html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Times New Roman, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: overline;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme:light dark) {
  html {
    color-scheme:light dark;
  }
  body {
    color: white;
    background: black;
  }
}

